body {
    font-family: Arial, sans-serif;
    background-color: #dcd8d1;
  }
 h1{
    margin-left: 500px;
 } 
  .chat-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .messages {
    height: 200px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .review {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  .user {
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 8px 20px;
    background-color: #b57515;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #b57515;
  }
  