body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7ede2;
  }
  header {
    background-color: #b57515;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }

  header nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
  }

  header nav a:hover {
    background-color: #8b5010;
  }
  .image{
    margin-left: 150px;
  }
  .survey-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    width: 100%;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #8b5010;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color:#8b5010;
  }
  